.DS_Store
.aws/credentials
.zsh_secret
.config/yarn
.config/configstore/update-notifier-*
.config/configstore/nodemon.json
.config/joplin-desktop/
.config/karabiner/automatic_backups/
.config/karabiner/assets/complex_modifications/1553267323.json
bin/stunredis