[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:syl20bnr/spacemacs.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:rjhilgefort/.tmux.git
[submodule ".src/miro-windows-manager"]
	path = .src/miro-windows-manager
	url = git@github.com:miromannino/miro-windows-manager.git
	branch = v1.2
[submodule ".spacemacs.d"]
	path = .spacemacs.d
	url = git@github.com:rjhilgefort/.spacemacs.git
